@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: 2px;
    box-sizing: border-box;
}

header {
    min-height: 100px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

body {
    font-family: Ysabeau Infant, sans-serif;
    min-height: 100vh;
}

/* Navigation bar */

.logo {
    float: left;
    font-size: 40px;
    margin: 10px;
}

#nav {
    font-size: 22px;
    position: relative;
}

#nav, .logo {
    line-height: 75px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin: 10px 20px;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#nav li a:hover {
    border: 1px solid #111;
}

/* responisve navbar */

#nav1, #toggle, .toggle-label {
    display: none;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* Hero image content */

.center {
    float: right;
    margin-right: 20px;
    text-align: center;
    margin-top: 40px;
}

.center h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.center p {
    font-size: 22px;
    margin-top: 5px;
}