@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: 2px;
    box-sizing: border-box;
    font-family: Ysabeau Infant, sans-serif;
}

header {
    min-height: 100px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

body {
    min-height: 100vh;
}

/* Navigation bar */

.logo {
    float: left;
    font-size: 30px;
    margin: 10px 0 0 20px;
}

#nav {
    font-size: 20px;
    position: relative;
}

#nav, .logo {
    line-height: 75px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin: 10px 20px 0 0;
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#nav li a:hover {
    color: rgb(98, 38, 38);
    font-style: italic;
}

/* responisve navbar */

#nav1, #toggle, .toggle-label {
    display: none;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* Hero image content */

#center {
    float: left;
    padding: 30px 0 0 30px;
    letter-spacing: 1px;
    margin-left: 8rem;
    text-align: left;
}

.center h2 {
    font-size: 35px;
    margin-top: 40px;
    text-transform: uppercase;

}

.center p {
    font-size: 25px;
    margin-top: 25px;
    line-height: 1cm;
}

/* Opening hours */

.times {
    width: 250px;
    float: right;
    margin: 8rem 10rem 0 0;
    border: 1px solid #111;
    border-radius: 5px;
    text-transform: uppercase;
}

.times h2 {
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 3px;
}

.time-table {
    font-size: 17px;
    border-spacing: 10px;
    margin: 0 auto 0 auto;
}

.time-table tr td:nth-last-child(1) {
    text-align: right;
    letter-spacing: normal;
}

/* About us section */

#abus-outer {
    margin-top: 200px;
    height: 500px;
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#abus-img {
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background: url(../images/about-us.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

#us {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}

#us h2 {
    font-size: 35px;
    text-transform: uppercase;
}

#us p {
    font-size: 25px;
    line-height: 1cm;
}

.tr {
    text-decoration: none;
    font-style: italic;
    color: #343635;
}

.tr:hover {
    color: #111;
    border-bottom: 1px solid #111;
}

/* Treatment page */

#container {
    min-height: 600px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    background-size: cover;
    color: rgb(255, 255, 255);
}

#container li {
    list-style: none;
    font-size: 25px;
    margin-top: 1em;
    text-transform: capitalize;
}
#container div {
    margin: auto auto;
}

/* Formpage */

.contactsec {
    background: rgb(0, 0, 0);
    background-size: cover;
    padding: 40px 0;
}

.contactsec h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 600;
    margin: 50px auto;
    text-transform: uppercase;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.form-text {
    width: 100%;
    margin: 16px 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.form-text:hover {
    box-shadow: 0 0 5px 4px rgb(255, 255, 255);
}

textarea {
    resize: none;
    height: 150px;
}

.btn {
    float: right;
    background: #111;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    font-size: 18px;
    padding: 12px 50px;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: 0 0 5px 4px rgb(255, 255, 255);
}

/* Thank you page */

.t {
   text-align: center;
   margin: 50px 0 50px 0;
   padding: 10px;
}

.t h1 {
    font-size: 50px;
}

.t p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hbtn {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: #111;
    border: 2px solid #111;
    border-radius: 5px;
    letter-spacing: normal;
    padding: 5px;
    font-style: italic;
    text-decoration: none;
}

.hbtn:hover {
    box-shadow: 0 0 5px 4px rgb(0, 0, 0);
}

.hbtn:active {
   box-shadow: 0 0 5px 4px rgb(0, 0, 0);
}

 /* 404 page */

.p404 {
    text-align: center;
    padding: 10px;
}

.p404 h1 {
    margin-top: 100px;
    font-size: 50px;
}

.p404 p {
    font-size: 30px;
    margin-bottom: 30px;
}

/* footer */

footer {
    width: 100%;
    position: sticky;
    top: 100%;
    display: flex;
    justify-content: space-evenly;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-top: 1px solid #111;
}

footer h2 {
    font-size: 25px;
}

footer div {
    text-align: center;
    padding: 20px 0 20px 0;
}

.a, .e, .s {
    width: 33%;
    font-size: 18px;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 5px;
}

.p {
    margin-top: 5px;
    font-size: 16px;
}

/* media queries */

@media screen and (max-width: 1100px) {
    
    #center {
        margin: 0 auto 0 auto;
    }

    .times {
        margin-left: auto;
        margin-right: 30px;
    }
    
}

@media screen and (max-width: 990px) {
    header {
        background: rgb(255, 255, 255);
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 999;
        width: 100%;
    }
    .logo {
        text-align: center;
        margin: 20px 0 0 10px;
        float: none;
    }

    #nav {
        display: none;
    }

    nav {
        display: none;
    }

    #nav1 {
        display: block;
        position: absolute;
        left: 0;
        background: rgb(255, 255, 255);
        width: 100%;
    }

    #nav1 ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #nav1 li {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    #nav1 a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    
    #nav1 li a:hover {
        color: rgb(98, 38, 38);
        font-style: italic;
    }

    #nav1 li a:active {
        color: rgb(98, 38, 38);
        font-style: italic;
    }

    .toggle-label {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1rem;
        height: 100%;
        display: flex;
        font-size: 30px;
        align-items: center;
        color: rgb(255, 255, 255);
    }

    span {
        color: black;
    }

    #toggle:checked ~ nav {
        display: block;
    }

    #times, .center {
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 0;
    }
    
}

@media screen and (max-width: 843px) {
   .times {
    float: none;
    margin: 3rem auto 3rem auto;
   }
   
   #center {
    padding: 0;
    float: none;
    text-align: center;
   }

   #abus-outer, #abus-img{
    margin-top: 0;
   }
}

@media screen and (max-width: 761px) {
    footer {
        display: flex;
        flex-direction: column;
    }
    
    .a, .e, .s {
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding: 10px;
    }

    /* Thank you page  */

    .t h1 {
        font-size: 35px;
    }

    .t p {
        font-size: 25px;
    }

}

@media screen and (max-width: 450px) {
    .logo {
        text-align: left;
        padding: 10px 5px 5px 10px;
        margin: 0;
    }
    
    #hero-outer {
        height: 400px;
    }

    #hero-image {
        height: 400px;
    }

    /* treatment page */

    #container h1 {
        font-size: 25px;
        margin-top: -50px;
    }

   .price {
    text-align: left;
   }

   #container li {
    font-size: 21px;
   }

   .center p {
    text-align: left;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2rem;
    line-height: 2.5rem;
   }

} 



